<a href="https://colab.research.google.com/github/farrelrassya/Cluster-Analysis-and-Dimensionality-Reduction/blob/main/01.%20Python%20Basic/%2001_Numeric_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Numeric data types

In [1]:
num_int =42
print(num_int)
print(type(num_int))

42
<class 'int'>

In [2]:
num_float =42.8
print(num_float)
print(type(num_float))

42.8
<class 'float'>

#Basic Operations

In [7]:
# Basic math operations
print('Addition: {}'.format(10 + 3)) # Addition
print('Subtraction: {}'.format(10 - 3)) # Subtraction
print('Multiplication: {}'.format(10 * 3)) # Multiplication
print('Division: {}'.format(10 / 3)) # Division

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335

In [8]:
# Power has python specific operator
print('Exponentiation: {}'.format(10 ** 3)) # Power

Exponentiation: 1000

In [9]:
# Python supports other division based operators
print('Modulus: {}'.format(10 % 3)) # Modulus
print('Floor division: {}'.format(10 // 3)) # Floor division

Modulus: 1
Floor division: 3

#Datatype Conversion

In [10]:
num_int

42

In [11]:
# Float to int
eg1 = float(num_int)
print(type(eg1))
print(eg1)

<class 'float'>
42.0

In [12]:
num_float

42.8

In [13]:
# Int to float
eg2 = int(num_float)
print(type(eg2))
print(eg2)

<class 'int'>
42

In [14]:
# String to float
eg3 = float('4.5a')
print(type(eg3))
print(eg3)

ValueError: could not convert string to float: '4.5a'

In [15]:
# Addition of int and float results in float
num_int + num_float

84.8

In [16]:
8/2

4.0

#Modifying the value

In [17]:
a=1

In [18]:
a = a + 1

In [19]:
a += 10

In [20]:
a

12

#Mathematics Library python

In [21]:
import math

print('Square root of 16 is: {}'.format(math.sqrt(16)))
print('3 raised to the power of 3 is: {}'.format(math.pow(3, 3)))
print('Absolute value of -10 is: {}'.format(math.fabs(-10)))
print('Factorial of 5 is: {}'.format(math.factorial(5)))
print('Natural logarithm of 2 is: {}'.format(math.log(2)))
print('Base-10 logarithm of 100 is: {}'.format(math.log10(100)))
print('Exponential of 1 is: {}'.format(math.exp(1)))
print('Value of the mathematical constant PI is: {}'.format(math.pi))
print('Value of the mathematical constant E is: {}'.format(math.e))

Square root of 16 is: 4.0
3 raised to the power of 3 is: 27.0
Absolute value of -10 is: 10.0
Factorial of 5 is: 120
Natural logarithm of 2 is: 0.6931471805599453
Base-10 logarithm of 100 is: 2.0
Exponential of 1 is: 2.718281828459045
Value of the mathematical constant PI is: 3.141592653589793
Value of the mathematical constant E is: 2.718281828459045