<a href="https://colab.research.google.com/github/farrelrassya/Cluster-Analysis-and-Dimensionality-Reduction/blob/main/01.%20Python%20Basic/%2005_Sets_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sets and tuples

### Sets

A set is mutable collection of unique elements.

- It's defined by values separated by commas inside braces {}.
  
- Sets are unordered.
- Sets also don't allow duplicates.
- Sets can only contain unmutable elements.
- Sets are iterable.

In [1]:
# Creating simple set
set1 = {1, 'a', 'b'}
print(set1)
print(type(set1))

{1, 'b', 'a'}
<class 'set'>

In [2]:
# Creating set from a list
set1 = set([1, 'a', 'b'])
print(set1)
print(type(set1))

{1, 'b', 'a'}
<class 'set'>

In [3]:
# Sets cant have duplicate elements
# Sets do not preserve order
set2 = {'b', 'b', 'a', 0, 2}
set2

{0, 2, 'a', 'b'}

In [4]:
l1 = [9, 9, 9, 8, 7, 1, 1, 1, 2]
set3 = set(l1)
set3

{1, 2, 7, 8, 9}

In [5]:
# Iterating over sets
for el in set3:
    print(el)

1
2
7
8
9

#### Operations on sets

In [6]:
# Add element to the set
set4 = {1, 2, 3, 4, 5, 6}

set4.add('a')
set4

{1, 2, 3, 4, 5, 6, 'a'}

In [7]:
# Concatenate sets
set4.update({20})
set4

{1, 2, 20, 3, 4, 5, 6, 'a'}

In [8]:
# Pop random el
pop_var = set4.pop()
set4

{2, 20, 3, 4, 5, 6, 'a'}

In [9]:
pop_var

1

In [10]:
# Remove certain element
set4.remove(5)
set4

{2, 20, 3, 4, 6, 'a'}

#### Mathematical set operations

In [11]:
# Operations on multiple sets

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print('Union : {}'.format(set1.union(set2)))
print('Union : {}'.format(set1 | set2))

Union : {1, 2, 3, 4, 5, 6}
Union : {1, 2, 3, 4, 5, 6}

In [12]:
print('Intersection : {}'.format(set1.intersection(set2)))
print('Intersection : {}'.format(set1 & set2))

Intersection : {3, 4}
Intersection : {3, 4}

In [13]:
print('Difference : {}'.format(set1.difference(set2)))
print('Difference : {}'.format(set1 - set2))

Difference : {1, 2}
Difference : {1, 2}

####  Part 6 : Touples

A tuple is an immutable collection of ordered elements.

- Tuples are ordered.
- Tuples are iterable.
  
- Tuples are immutable (meaning they cannot be changed, unlike lists).

In [14]:
# Create simple tuple
t1 = (1,'a', True)
print(t1)
print(type(t1))

(1, 'a', True)
<class 'tuple'>

In [15]:
# Create simple tuple
t1 = 1,'a', True
print(t1)
print(type(t1))

(1, 'a', True)
<class 'tuple'>

In [16]:
# Create simple tuple
t1 = tuple([1,'a', True])
print(t1)
print(type(t1))

(1, 'a', True)
<class 'tuple'>

In [17]:
# Indexing
t1[0]

1

In [18]:
# Slicing
t1[1:3]

('a', True)

In [19]:
# Tuple is immutable
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [20]:
# Iterate through tuple
for el in t1:
    print(el)

1
a
True